<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ๐ฃ Welcome to Dashbord page - ุตูุญุฉ ุงูุชุชุจุน ๐ฃ</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/seo-web/512/website-code-512.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body dir="rtl" class="bg-dark text-light text-center">

    <nav dir="ltr" class="navbar navbar-light bg-warning">
        <div class="container d-flex justify-content-evenl">
            <form action="/abc/logout" method="post">
                <button type="submit" class="btn btn-dark">ุชุณุฌูู ุงูุฎุฑูุฌ</button>
            </form>

            <img width="100" src="/images/Coding With MO_logo.png" alt="LOGO">

            <% const d=new Date();%>
                <% let hour=d.getHours();%>
                    <% if(hour===0 || hour < 12){%>
                        </12>
                        <h2 class="text-muted h2-name" dir="rtl"> ุตุจุงุญ ุงูุฎูุฑ ๐ท
                            <%= locals.studentName %>
                                <%= locals.studentNameNew %>
                        </h2>
                        <% } else if(hour===12 || hour < 18){%>
                            <h2 dir="rtl" class="text-muted h2-name"> ูุณุงุก ุงูุฎูุฑ ๐ <%= locals.studentName %>
                                    <%= locals.studentNameNew %>
                            </h2>
                            <%} else {%>
                                <h2 class="text-muted h2-name">
                                    ๐ ูููู ุทูุจู <%= locals.studentNameNew %>
                                        <%= studentName %>

                                </h2>
                                <%}%>
                                    </h2>
        </div>
    </nav>



    <% if(studentDaily==="" ){%>
        <table class="mx-auto col-lg-8 mt-2 ">
            <tr class="border border-light">
                <th>ุชุงุฑูุฎ ุงููุญุงุถุฑู</th>
                <th>ุฑูุงุจุท</th>
                <th>ููุงุญุธุงุช</th>
                <th>ุงูุญุถูุฑ</th>
            </tr>
            <tr dir="rtl">
                <td class="text-center" style="font-size: 25px;">ูุง ููุฌูุฏ ุงู ุจูุงูุงุช</td>
                <td class="text-center" style="font-size: 25px;">ูุง ููุฌูุฏ ุงู ุจูุงูุงุช</td>
                <td class="text-center" style="font-size: 25px;">ูุง ููุฌูุฏ ุงู ุจูุงูุงุช</td>
                <td class="text-center" style="font-size: 25px;">ูุง ููุฌูุฏ ุงู ุจูุงูุงุช</td>
            </tr>
        </table>
        <%} else {%>

            <% let counterOfLecture=studentDaily.daily.length%>
                <% let aanwijzig=0%>
                    <% let afwijzig=0%>
                        <% studentDaily.daily.forEach(day=>{%>
                            <% if(day.aanofafwijzig==="on" ){%>
                                <% aanwijzig++%>
                                    <% } else { afwijzig++ }%>
                                        <% })%>
                                            <table class="mx-auto col-lg-8  mt-2 border border-light">
                                                <tr class="border border-light">
                                                    <th>ุชุงุฑูุฎ ุงููุญุงุถุฑู</th>
                                                    <th>ุฑูุงุจุท</th>
                                                    <th>ููุงุญุธุงุช</th>
                                                    <th class="col-6">ุงูุญุถูุฑ |
                                                        <span style="color:darkgoldenrod;">
                                                            ุนุฏุฏ ุงููุญุงุถุฑุงุช ุงูููู <%= counterOfLecture %>
                                                        </span> /
                                                        <span style="color: green;">
                                                            ุนุฏุฏ ุงูุงู ุงูุญุถูุฑ <%= aanwijzig %>
                                                        </span> /
                                                        <span style="color: red;">
                                                            ุนุฏุฏ ุงูุงู ุงูุบูุงุจ <%= afwijzig %>
                                                        </span>
                                                    </th>
                                                </tr>
                                                <% locals.studentDaily.daily.forEach(day=>{%>
                                                    <tr>
                                                        <td class="text-center col-lg-2" style=" font-size: 20px;">
                                                            <%=day.date%>
                                                        </td>
                                                        <td class="text-center">
                                                            <ul class="linksStyling">

                                                                <li class="link"><a target="_blank"
                                                                        href="<%=day.link%>">
                                                                        <%=day.linkName%>
                                                                    </a></li>
                                                                <li class="link"> <a target="_blank"
                                                                        href="<%=day.link2%>">
                                                                        <%=day.linkName2%>
                                                                    </a></li>
                                                                <li class="link"> <a target="_blank"
                                                                        href="<%=day.link3%>">
                                                                        <%=day.linkName3%>
                                                                    </a></li>
                                                            </ul>
                                                        </td>

                                                        <td class="text-end" style=" font-size: 20px;">
                                                            <%=day.note%>
                                                        </td>

                                                        <%if( day.aanofafwijzig==="on" ){%>
                                                            <td class="text-center"
                                                                style=" color: green; font-size: 20px;">
                                                                ุญุงุถุฑ
                                                            </td class="text-center">

                                                            <%} else {%>
                                                                <td class="text-center"
                                                                    style=" color: brown; font-size: 20px;">
                                                                    ุบุงุฆุจ
                                                                </td>
                                                                <%}%>

                                                    </tr>
                                                    <% }) %>
                                                        <%}%>






                                            </table>
                                            <script
                                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                                                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                                                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                                                crossorigin="anonymous"></script>
                                            <script
                                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                                                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                                                crossorigin="anonymous"></script>
</body>

</html>